body{
    margin:0;
    font-family:Arial, sans-serif;
    background-color: #0f0f0f;
    color:white;
}

.navbar{
    background-color:#1a1a1a;
    padding: 20px 40px;
    height:2rem;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navcontainer {
  display: flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
    flex:1;
    list-style:none;
    display:flex;
    gap:30px;
}

.nav-links li{
    color:#ccc;
    cursor:pointer;
}


.socials span{
    margin-left:20px;
    color:#888;
    cursor: pointer;
}

/* about me section */
.aboutme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    width:80%;
    margin:auto;
    
}

.aboutme-text {
    max-width:50%;
    
}

.aboutme-text h1 {
    font-size :48px;
    margin-bottom: 20px;
}

.aboutme-text p {
    font-size :16px;
    line-height: 1.6;
    color: #aaa;
}

.start-btn {
    margin-top: 20px;
  padding: 15px 30px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 15px #28a74588;
}

.aboutme-image img{
    width:300px;
    height:300px;
    object-fit: cover;
    border-radius: 50%;
    border:4px solid #222;
}
/* tech stack section */
.bar {
  width: 80%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 8px;
  background: linear-gradient(135deg, #001f3f, #005f7f);
  box-shadow: 0 0 20px rgba(0, 191, 255, 0.6); /* ocean blue glow */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar h2 {
  margin: 0;
  font-size: 1.5rem;
  color:#ccc;
}

/* tech container boxes*/
.container {
    margin-top:2rem;
    width:80%;
    margin :3rem auto 3rem auto;
    display:flex;
    /* flex-wrap: wrap; */
    gap:40px;
    justify-content:space-between;
    /* background: #1a1a1a; dark background */
  padding: 2rem;
  border-radius: 10px;
  /* box-shadow: 0 0 20px rgba(0, 255, 255, 0.2); glowing box */
  border: 1px solid #00ffff33; /* soft border */
}
.tech-box {
  flex: 1;
  background: linear-gradient(135deg, #0f1c2e, #2e1f3f);
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.tech-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.5);
}

.tech-box h3 {
  color: #00ffff;
  font-size: 20px;
  margin-bottom: 15px;
  text-shadow: 0 0 5px #00ffff88;
}

.tech-box ul {
  list-style: disc;
  padding: 1rem;
  padding-left:2rem;
  margin: 0;
  text-align:left;
}

.tech-box li {
  color: #cccccc;
  margin-bottom: 8px;
  font-size: 1.2rem;
  transition: color 0.3s, text-shadow 0.3s;
  height:2rem;
  text-shadow:0 0 2px #00ffff33; 
}

.tech-box li:hover {
  color: #00ffff;
  text-shadow:0 0 6px #00ffffaa;
}
/* project box */
.project-box {
  flex: 1;
  background: linear-gradient(135deg, #103f3f, #1b6b6b);


  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.5);
}

.project-box h3 {
  color: #00ffff;
  font-size: 20px;
  margin-bottom: 15px;
  text-shadow: 0 0 5px #00ffff88;
}
/* academic section */
.timeline {
  border-left: 3px solid #00ff66;
  margin: 2rem auto;
  padding-left: 2rem;
  position: relative;
  width: 80%;
}

.timeline-item {
  margin-bottom: 3rem;
  position: relative;
}

.timeline-dot {
  width: 14px;
  height: 14px;
  background-color: #00ff66;
  border-radius: 50%;
  position: absolute;
  left:-40px;
  top: 0;
}

.timeline-content h3 {
  font-size: 1.7rem;
  margin: auto;
}

.timeline-content h4 {
  color: #888;
  margin: 0;
}

.timeline-content h5 {
  color: #00ff66;
  margin-bottom: 1rem;
  font-size:1.5rem;
  margin-top:1rem;
}

.timeline-content p {
  color: #ccc;
  line-height: 1.6;
}
/* proof of work section */
.certification-card {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  max-height: 320px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 30px rgba(0, 255, 136, 0.2);
  align-items:center;
  margin-top:175px;
  /* padding:2rem; */
}

.certification-card h2 {
  background: linear-gradient(to right, #00c96b, #009f52);
  color: white;
  margin: 0;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align:center;
}

.certification-card-content {
  background-color: #1b1e27;
  padding: 1.5rem;
  text-align: center;
}

.certification-card-content .main-text {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.certification-card-content .sub-text {
  color: #ccc;
  font-size: 1remrem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.certification-card-content .tagline {
  color: #00c96b;
  font-size: 1.3rem;
  border-top: 3px solid #00c96b33;
  padding-top: 0.75rem;
  width: 100%;
  margin: 0 auto;
  align-items:center;
}

/* stats */
.stats-box {
  flex: 1;
  background: linear-gradient(135deg, #202020, #2f2f2f, #3e3e3e);
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.stats-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.5);
}

.stats-box h3 {
  color: #00ffff;
  font-size: 20px;
  margin-bottom: 15px;
  text-shadow: 0 0 5px #00ffff88;
}
.githubstats{
  margin-top:3rem;
}
/* hobbies container */
.hobbiesoutercontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3rem auto;
  width: 80%;
  gap: 40px;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #00ffff33;
}

.hobbiescontainer-left {
  /* width: 48%;  */
  display: flex;
  gap: 20px;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #00ffff33;
}

.hobbiescontainer-right {
  /* width: 48%; */
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #00ffff33;
}

.my-hobbies-img {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  margin-top: 1rem;
}

.bike{
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-top: 1rem;
}
.bookssection{
  width: 250px;
  height: auto;
  border-radius: 10px;
  margin-top: 1rem;
}
.mma{
  width: 250px;
  height: auto;
  border-radius: 10px;
  margin-top: 1rem;
}
.chess{
  width: 200px;
}
/* typing section */
.typing{
  width: auto;
  height: 300px;
  border-radius: 10px;
  margin-top: rem;
}
.typing{
  width: auto;
  height: 300px;
  border-radius: 10px;
  margin-top: rem;
}

.typingcontent {
  display: flex;
  align-items: center;
  gap: 20px; /* space between image and text */
}

.typingcontent h3 {
  font-size: 1.7rem;
  margin: auto;
  
}
.typingcontent p {
  color: #888;
  margin: 0;
  font-size:1.2rem;
}
.typingcontent h5 {
  color: #00ff66;
  margin-bottom: 1rem;
  font-size:2rem;
  margin-top:1rem;
  align-items:center;
}
.typing-text {
  display: flex;
  flex-direction: column; /* stack vertically */
  justify-content: center;
}
/* footer class */
.footer-border {
  border-top: 2px solid #00ffff33;
}

.footer {
  margin-top: 1rem;
  background: #0f0f0f;
  padding: 1rem 1rem;
  color: #ccc;
  display:flex;
  flex-wrap: wrap;
  margin-left:2rem;
  max-width: 80%;
  margin: 1rem auto 0 auto;

}

.footer-left h3 {
  font-size: 1.8rem;
  color: #00ffff;
  margin-bottom: 1rem;
}

.footer-left p {
  margin: 0.3rem 0;
  color: #aaa;
  font-size: 1.1rem;
  line-height: 1.6;
  padding:6px;
}
.footer-left h2{
  margin: 0.3rem 0;
  color: #aaa;
  font-size: 1.2rem;
  line-height: 1.6;
  padding:6px;
}
.footer-left i {
  margin-right: 8px;
  color: #00ffff;
}
.footer-right form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.footer-right input,
.footer-right textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #2a2a2a;
  color: #fff;
}

.footer-right button {
  padding: 10px;
  background: #00ff99;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.footer-right {
  width: 35%; /* increase from 45% to 55% or as needed */
  flex-direction:column;
  display:flex;
  margin-left:3rem;
}
.footer-left{
  width:55%;
  margin-right:2rem;
}
.footer-right h3 {
  font-size: 1.4rem;
  color: #00ffff;
  margin-bottom: 1rem;
}
.footer-borderdown{
  border-top: 2px solid #00ffff33;
  margin-top:2rem;
}
.footer-note {
  margin-top:2rem;
  text-align: center;
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
